<!DOCTYPE html>
<html ng-app="aplicacion">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
	<link rel="stylesheet" href="bootstrap/css/bootstrap.css">
	<link rel="stylesheet" href="css/estilo.css">
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">
	<title>Pagina principal</title>
	
	
	<script type="text/javascript" src="jquery/jquery-2.1.4.min.js"></script>
	<script type="text/javascript" src="bootstrap/js/bootstrap.js"></script>
    <script type="text/javascript" src="/angularjs/angular.js"></script>
    <script type="text/javascript" src="/js/init.js"></script>
	<script type="text/javascript" src="/js/controladores/controlador_ListadoRutas.js"></script>
	<script type="text/javascript" src="/js/controladores/controlador_ListadoReservas.js"></script>
	<script type="text/javascript" src="js/controladores/controlador_DatosUsuario.js"></script>
	<script type="text/javascript" src="js/controladores/controlador_CerrarSesion.js"></script>
	<script type="text/javascript" src="js/controladores/controlador_CrearRuta.js"></script>
    <script type="text/javascript" src="js/mapas/mapa_MisRutas.js"></script>
	<script src="js/index.js"></script>
	
</head>

<body class="headerFijo footerFijo" ng-controller="DatosUsuario" ng-init="cargarUsuario()">
	
	<div ng-if="usuario != null">
	
		<ng-include src="'plantillas/header.html'"></ng-include>

	<main ng-controller="ListadoReservas" ng-init="cargarReservas()">

       <div class="container paddingContainer">
            <div class="card col-md-12">
                <ul class="nav nav-tabs">
                    <li><a href="perfil.html">Perfil</a></li>
                    <li><a href="misRutas.html">Mis Rutas</a></li>
                    <li class="perfilPremium"><a href="gestionarRutas.html">Gestionar Rutas</a></li>
                    <li class="perfilPremium"><a href="crearRuta.html">Crear Rutas</a></li>
                    <li class="perfilPremium active"><a href="gestionarPagos.html">Gestionar Pagos</a></li>
                </ul>

                <div class="tab-content paddingTabs">
                
					<!----------------- CREAR RUTA ---------------->

				<div class="row">
				  <div class="col-md-10 col-md-offset-1"> 
				<h4>Saldo: {{saldo}} €</h4><span class="btn btn-success cursor" ng-click="enviarPaypal()">Retirar fondos</span>
				
					<div class="panel panel-default top-margin-15">
					  <div class="panel-heading tituloGestionarRutas">Reservas realizadas</div>
					  
				      <div class="table-responsive">
                          <table class="table table-striped disenyotabla">
                            <thead>
                                <tr>
                                    <th> Usuario </th>
                                    <th> Fecha reserva </th>
                                    <th> Pago </th>
                                    <th> Ruta </th>
                                </tr>
                            </thead>

                            <tbody>
                                <tr ng-repeat="item in reservas">
                                    <td> {{item.usuarioRes}}</td>
                                    <td> {{item.fecha | date: "dd-MM-yyyy"}}</td>
                                    <td> {{item.precio}} €</td>
                                    <td> <a ng-href="ruta.html?id={{item.rutaRes}}"> Acceder </a></td>
                                </tr>
                            </tbody>
                          </table>
                        </div>
					</div>
				
				
				
				
				  </div>
				</div>
				
				<!------------------------------------------------------------------>
	
						
				
				</div>
			</div> 
		</div>
        
        
        
		<div class="container-fluid pie">
			
		</div>
		
	</main>
	
	<ng-include src="'plantillas/footerFijo.html'"></ng-include>
	
	<!-- fin div zona correcta -->
	</div>	
	
	<div ng-if="usuario == null">
		<ng-include src="'plantillas/zona_privada.html'"></ng-include>
	</div>
    
</body>
</html>
