<!DOCTYPE html>
<html ng-app="aplicacion">
   <head>
      <meta charset="utf-8" />
      <title> Clientes </title>
      <link rel="stylesheet" href="../bootstrap/css/bootstrap.css">
      <script type="text/javascript" src="../angularjs/angular.js"></script>
      <script type="text/javascript" src="../js/init.js"></script>
	  <script type="text/javascript" src="../js/controladores/controlador_AdminComentarios.js"></script>
	  
       
   </head>
   <body>
        <div class="container" ng-controller="AdminComentarios" ng-init="cargarComentarios()">
            <h1> Administrar Comentarios </h1>
            <form action="javascript:void(0);">
                <div class="row">
                    <div class="span4">
                        <label> Usuario </label>
                        <input type="text" ng-model="usuarioCom" />
                    </div>
					
                    <div class="span4">                    
                        <label> Ruta </label>
                        <input type="text" ng-model="rutaCom" />
                    </div>
					
                    <div class="span4">
                        <label> comentario </label>
                        <input type="text" ng-model="comentario" />
                    </div>
					
                </div>
                <div class="row">
                    <div class="span4">
                        <input type="submit" value="Guardar" class="btn btn-success" ng-click="guardarComentario()" />
                        <input type="button" value="Limpiar" class="btn btn-danger" ng-click="limpiarDatos()" />
                    </div>
                </div>
            </form>
            <table class="table">
                <thead>
                    <tr>
                        <th> Usuario </th>
                        <th> Id Ruta </th>
                        <th> Comentario </th>
                        <th> Fecha </th>
                        <th>  </th>
                        <th>  </th>
                    </tr>
                </thead>
                <tbody>
                    <tr ng-repeat="item in comentarios">
                        <td> {{item.usuarioCom}} </td>
                        <td> {{item.rutaCom}} </td>
                        <td> {{item.comentario}} </td>
                        <td> {{item.fecha}} </td>
						
                        <td> <a href="javascript:void(0);" class="btn btn-info" ng-click="recuperarComentario(item._id)"> Editar </a> </td>
                        <td> <a href="javascript:void(0);" class="btn btn-danger" ng-click="eliminarComentario(item._id)"> Eliminar </a> </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </body>
</html>